.phone{
     background-color: "#DACCBA";
     color: "#4D4949";
     width: 100vw !important;
     justify-content: center;
     display: flex;
     height: 20px;
}

.p-img{
    height: 2px !important;
    width: 2px !important;
}

.western{
    background-image: url('/warm.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.horseshade{
    background-image: url('/mainhorsebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 30vh;
}

.links{
    font-size: xx-large;
    margin: 2px;
    padding: 2px;
    color: rgb(103, 19, 0)
}