$small: 360px;
$medium: 760px;

.phone{
     background-color: "#DACCBA";
     color: "#4D4949";
     width: 100vw !important;
     justify-content: center;
     display: flex;
     height: 20px;
}

.p-img{
    height: 2px !important;
    width: 2px !important;
}

.western{
    background-image: url('/warm.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.horseshade{
    background-image: url('/mainhorsebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 35vh; 
    @media only screen and (min-width: $small) and (max-width: $medium){
        .mobile{
            // font-weight: 900;
            color: wheat;
        }
        background-image: url('/CPanelBarnCroppedShort.jpg');
        background-size: contain;
        height: 30vh !important;
        .moveup{
                position: relative;
                top: -10px !important;
               }
    }
}

.links{
    font-size: xx-large;
    margin: 2px;
    padding: 2px;
    color: rgb(103, 19, 0)
}

.moveup{
    position: relative;
    top: -10px !important;
}

.centerMobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 41% !important;

} 
@media only screen and (min-width: $small) and (max-width: $medium){
    .centerMobile{
     margin-left: 10% !important;
    }
}

.kal{
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}